<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/css/all.css">
</head>

<body>
  <div class="wrap">
    <section class="header d-flex justify-content-between bg-primary align-items-center">
      <a href="index.html"><img src="./assets/img/logo.png" alt=""></a>
      <ul class="d-flex fs-20 menu">
        <li><a href="series.html" class="text-decoration-none text-white">系列鏡框</a></li>
        <li class="ml-64"><a href="store.html" class="text-decoration-none text-white">門市據點</a></li>
        <li class="ml-64"><a href="blog.html" class="text-decoration-none text-white">部落格</a></li>
        <li class="ml-64"><a href="question.html" class="text-decoration-none text-white">常見問題</a></li>
      </ul>
    </section>

    <%- contents %>

    <section class="footer bg-primary position-relative">
      <div class="container d-flex justify-content-between align-items-center">
        <ul class="d-flex footer-banner">
          <li class="mr-48"><a href="index.html" class="text-white text-decoration-none">首頁</a></li>
          <li class="mr-48"><a href="series.html" class="text-white text-decoration-none">系列鏡框</a></li>
          <li class="mr-48"><a href="store.html" class="text-white text-decoration-none">門市據點</a></li>
          <li class="mr-48"><a href="blog.html" class="text-white text-decoration-none">部落格</a></li>
          <li><a href="question.html" class="text-white text-decoration-none">常見問題</a></li>
        </ul>
        <ul class="d-flex footer-icon">
          <li><a href="#" class="text-decoration-none"><img src="./assets/img/icon-fb.svg" alt=""></a></li>
          <li class="ml-32"><a href="#" class="text-decoration-none"><img src="./assets/img/icon-ig.svg" alt=""></a>
          </li>
          <li class="ml-32"><a href="#" class="text-decoration-none"><img src="./assets/img/icon-line.svg" alt=""></a></li>
        </ul>
      </div>
      <div class="mb-40"></div>
      <div class="container footer-contact">
        <ul class="footer-border">
          <li class="d-flex align-items-center mb-20">
            <img src="./assets/img/icon-phone.svg" alt="" class="mr-17">
            <a href="tel:+886-0800-000-000" class="text-decoration-none text-white fs-36">0800-000-000
            </a>
          </li>
          <li class="d-flex align-items-center mb-20">
            <img src="./assets/img/icon-mail.svg" alt="" class="mr-17">
            <a href="mailto:glasses@business.com" class="text-decoration-none text-white fs-36">glasses@business.com
            </a>
          </li>
        </ul>
      </div>
      <div class="mb-24"></div>
      <div class="container d-flex justify-content-between footer-treaty">
        <ul class="d-flex align-items-center mr-38 footer-copyright">
          <li class="mr-38 footer-logo"><img src="./assets/img/logo.png" alt=""></li>
          <li class="text-white">Copyright © 2020 Glasses.All rights reserved.</li>
        </ul>
        <ul class="d-flex fs-14 align-items-center footer-policy">
          <li><a href="#" class="text-white text-decoration-none">隱私權政策</a></li>
          <li class="ml-62"><a href="#" class="text-white text-decoration-none">服務條款</a></li>
        </ul>
      </div>
    </section>
  </div>
</body>

</html>