.banner{
    background-image: url('../img/banner.png');
    padding-top: 350px;
    padding-bottom: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    @include tablet(){
        background-image: url('../img/banner-sm.png');
        padding-top: 372px;
        padding-bottom: 372px;
        h1{
            padding-right: 39px;
            font-size: 20px;
            line-height: 30px;
        }
        p{
            padding-right: 39px;
            font-size: 48px;
            line-height: 72px;
        }
    }
}