.series-btn{
    width: 462px;
    padding-top: 32px;
    padding-bottom: 32px;
    border: 1px solid #DCDCDC;
    &:hover{
        border-bottom:4px solid #AA0601;
    }
    &:active{
        border-bottom:4px solid #AA0601;
    }
    @include tablet(){
        width: 256px;
        padding-top: 16px;
        padding-bottom: 16px;
        p{
            font-size: 28px;
        }
        img{
            width: 32px;
            height: 32px;
        }
    }
    @include mobile(){
        width: 125px;
        padding-top: 8px;
        padding-bottom: 8px;
        p{
            font-size: 14px;
        }
        img{
            width: 15px;
            height: 15px;
        }
    }
}
.optical-btn,.sunglasses-btn{
    border-bottom:solid 4px #AA0601;
}
.series-collection{
    padding-top: 88px;
    padding-bottom: 156px;
    .optical-list li{
        width: 255px;
        img{
            width: 255px;
            height: 164px;
        }
    }
    .sunglasses-list li{
        width: 350px;
        margin-bottom: 112px;
        img{
            width: 350px;
            height: 224px;
        }
    }
    .brown-box{
        width: 24px;
        height: 24px;
        background-color: #5F3E2D;
        border-radius:4px;
    }
    .orange-box{
        width: 24px;
        height: 24px;
        background-color: #B75929;
        border-radius:4px;
    }
    @include tablet(){
        padding-top: 40px;
        padding-bottom: 104px;
        h1{
            font-size: 32px;
        }
        h2{
            font-size: 24px;
            margin-bottom: 32px;
        }
        .optical-list li{
            width: 330px;
            margin-bottom: 72px;
        }
        .optical-list li:nth-child(9){
            margin-bottom: 105px;
        }
        .optical-list li:nth-child(10){
            margin-bottom: 105px;
        }
        .optical-list li:nth-child(11){
            display: none;
        }
        .optical-list li:nth-child(12){
            display: none;
        }
        .optical-list img{
            width: 330px;
        }
        .sunglasses-list li{
            width: 330px;
            img{
                height: 164px;
            }
            .fs-18{
                display: flex;
                justify-content:space-between;
                font-size: 24px;
            }
            p{
                line-height: 32px;
                margin-bottom: 0;
            }
        }
    }
    @include mobile(){
        padding-top: 30px;
        padding-bottom: 56px;
        h1{
            font-size: 20px;
            line-height: 26px;
        }
        h2{
            font-size: 16px;
            margin-bottom: 20px;
        }
        .optical-list li{
            width: 345px;
            margin-bottom: 32px;
            .fs-24{
                font-size: 16px;
                line-height: 30px;
            }
            img{
                width: 345px;
                height: 166px;
            }
        }
        .sunglasses-list li{
            width: 345px;
            margin-bottom: 32px;
            .fs-18{
                font-size: 16px;
                line-height: 21px;
            }
            img{
                width: 345px;
                height: 166px;
            }
        }
        .brown-box,.orange-box{
            width: 15px;
            height: 15px;
        }
        .optical-list li:nth-child(9){
            margin-bottom: 32px;
        }
        .optical-list li:nth-child(10){
            margin-bottom: 40px;
        }
    }
}
.series-banner{
    .banner-1{
        background-image: url('../img/banner-1.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 945px;
        height: 309px;
    }
    .banner-2{
        background-image: url('../img/banner-2.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 945px;
        height: 309px;
    }
    .banner-3{
        background-image: url('../img/banner-3.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 945px;
        height: 309px;
    }
    .banner-4{
        background-image: url('../img/product-2-color.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 945px;
        height: 309px;
    }
    @include tablet(){
        .banner-1,.banner-2,.banner-3,.banner-4{
            width: 384px;
            height: 309px;
        }
    }
    @include mobile(){
        .banner-1,.banner-2,.banner-3,.banner-4{
            width: 187.5px;
            height: 144px;
        }
    }
}

.pagination-btn a{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 14px;
    padding-right: 14px;
    border:1px solid black;
    &:hover{
        background-color: #000000;
        color:white;
    }
    @include mobile(){
        font-size: 12px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-right: 10px;
        padding-left: 10px;
    }
}