.login-content {
    .container {
        padding-top: 60px;
        padding-bottom: 122px;
        @include media-breakpoint-up(sm){
            padding-top: 175px;
            padding-bottom: 180px;
        }
        @include media-breakpoint-up(md) {
            padding-top: 112px;
            padding-bottom: 80px;
        }
    }
}
.social-login{
    width: 100%;
    @include media-breakpoint-up(md){
        width: 47%;
    }
}
.social-login:hover {
    border: 2px solid #d54100 !important;
    background: #fbbc05;
}

.login-btn{
    width: 100%;
    @include media-breakpoint-up(md){
        width: 45%;
    }
}
