.index-1 {
    background-image: url(../images/index-1.png);
}

.index-2 {
    background-image: url(../images/index-2.jpeg);
}

.index-3 {
    background-image: url(../images/index-3.jpeg);
}

.index-4 {
    background-image: url(../images/index-4.jpeg);
}

.index-5 {
    background-image: url(../images/index-5.jpeg);
}

.index-6 {
    background-image: url(../images/index-6.jpeg);
}

.index-7 {
    background-image: url(../images/index-7.jpeg);
}
.index-8 {
    background-image: url(../images/index-8.jpeg);
}
.bg-style {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.statistic-bg {
    background-image: url(../images/index-9.jpeg);
}

.h-49 {
    height: 49%;
}

.homestay-1 {
    background-image: url(../images/homestay-1.png);
}

.homestay-2 {
    background-image: url(../images/homestay-2.jpeg);
}
.homestay-3 {
    background-image: url(../images/homestay-3.jpeg);
}
.homestay-4 {
    background-image: url(../images/homestay-4.jpeg);
}
.homestay-5 {
    background-image: url(../images/homestay-5.jpeg);
}
.homestay-6 {
    background-image: url(../images/homestay-6.jpeg);
}
.homestay-7 {
    background-image: url(../images/homestay-7.jpeg);
}
.homestay-8 {
    background-image: url(../images/homestay-8.jpeg);
}

.detail-1 {
    background-image: url(../images/detail-1.jpeg);
}
.detail-2 {
    background-image: url(../images/detail2.jpeg);
}
