.bg-style {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.statistic-bg {
    background-image: url(../images/index-9.jpeg);
}

.h-49 {
    height: 49%;
}

