.blog-detail{
    padding-top: 8px;
    padding-bottom: 304px;
    @include tablet(){
        padding-bottom: 104px;
    }
    @include mobile(){
        padding-bottom: 56px;
        .blog-area{
            flex-direction: column;
        }
        .blog-page{
            flex-direction: column;
            margin-bottom: 40px;
        }
        .blog-page a:nth-child(1){
            margin-bottom: 8px;
        }
        .blog-page a:nth-child(2){
            flex-direction: row-reverse;
            justify-content:flex-end;
        }
        .blog-page a:nth-child(2){
            img{
                margin-left: 0;
            }
        }
    }
    .blog-plan{
        width: 825px;
        h1{
            line-height: 67px;
        }
        .blog-list img{
            width: 825px;
            height: 539px;
        }
        .blog-icon{
            padding-bottom: 16px;
            border-bottom:1px solid black;
            margin-bottom: 24px;
        }
        @include tablet(){
            h1{
                font-size: 32px;
                line-height: 45px;
            }
            width: 510px;
            .blog-list img{
                width: 510px;
                height: 292px;
                margin-bottom: 16px;
            }
            .blog-list li{
                margin-bottom: 24px;
            }
            .blog-list li p{
                font-size: 16px;
                line-height: 24px;
            }
            .blog-plan-title{
                margin-bottom: 16px;
            }
            .blog-plan-title .fs-28{
                font-size: 16px;
            }
            .blog-plan-title .fs-16{
                font-size: 14px;
            }
        }
        @include mobile(){
            width: 345px;
            h1{
                font-size: 20px;
                color:#650300;
            }
            .blog-list img{
                width: 345px;
                height: 169px;
            }
        }
    }
    .blog-tag{
        @include tablet(){
            .fs-24{
                font-size: 16px;
            }
            .fs-28{
                font-size: 20px;
            }
            .mr-24{
                margin-right: 16px;
            }
        }
        @include mobile(){
            .blog-tag-title{
                margin-bottom: 10px;
            }
        }
    }
}