//bg
.bg-primary{
    background-color:$primary-color;
}
//font
.text-white{
    color:$white;
}
.text-black{
    color:$black;
}
.text-primary{
    color:$primary-color;
}
.text-secondary{
    color:$secondary-color;
}