.wrap{
    max-width: 1920px;
    margin:0 auto;
    @include desktop(){
        max-width: 1024px;
    }
    @include tablet(){
        max-width: 768px;
    }
    @include mobile(){
        max-width: 600px;
        // max-width: 375px;
    }
}
*, *:before, *:after{
    box-sizing:border-box;
}
.container{
    max-width: 1110px;
    margin:0 auto;
    @include tablet(){
        max-width: 690px;
    }
    @include mobile(){
        max-width: 550px;
        // max-width: 345px;
    }
}
.header{
    padding-left: 88px;
    padding-right: 88px;
    padding-top: 30px;
    padding-bottom: 30px;
    a:hover{
        font-weight: bold;
    }
    @include tablet(){
        padding-left: 39px;
        padding-right: 39px;
    }
    @include mobile(){
        padding: 0;
        flex-direction: column;
        a{
            width: 100%;
            display: flex;
            justify-content: center;
            padding-top: 10px;
            padding-bottom: 10px;
            img{
                width: 48px;
                height: 30px;
            }
        }
        .menu{
            flex-wrap:wrap;
            width: 100%;
        }
        .menu li{
            width: 50%;
            margin-left: 0;
            border:1px solid white;
            font-size: 20px;
            padding-top: 8px;
            padding-bottom: 8px;
        }
    }
}
img{
    max-width: 100%;
    height:auto;
    display: block;
}
.footer{
    padding-top: 36px;
    padding-bottom: 30px;
    a:hover{
        font-weight: bold;
    }
    @include tablet(){
        padding-top: 40px;
        padding-bottom: 40px;
        .footer-banner li:nth-child(1){
            margin-right: 40px;
        }
        .footer-banner li:nth-child(2){
            margin-right: 40px;
        }
        .footer-banner li:nth-child(3){
            margin-right: 40px;
        }
        .footer-banner li:nth-child(4){
            margin-right: 40px;
        }
        .footer-icon li:nth-child(2){
            margin-left: 24px;
        }
        .footer-icon li:nth-child(3){
            margin-left: 24px;
        }
        .mb-40{
            margin-bottom: 24px;
        }
        .footer-logo{
            display: none;
        }
    }
    @include mobile(){
        padding-top: 24px;
        padding-bottom: 20px;
        .footer-banner{
            display: none;
        }
        .mb-40{
            display: none;
        }
        .footer-treaty{
            flex-direction: column;
        }
        .footer-policy{
            flex-direction: column;
            align-items:flex-start;
            font-size: 14px;
            li{
                margin-left: 0;
                margin-bottom: 8px;
            }
        }
        .footer-copyright{
            position: relative;
            flex-direction: row-reverse;
            font-size: 14px;
            margin-bottom: 7px;
            justify-content:flex-end;
        }
        .container{
            padding-right: 15px;
            padding-left: 15px;
        }
        .container:nth-child(1){
            justify-content:flex-end;
            margin-bottom: 66px;
        }
        .footer-icon li:nth-child(2){
            margin-left: 24px;
        }
        .footer-icon li:nth-child(3){
            margin-left: 24px;
        }
        .footer-icon img{
            width: 24px;
            height: 24px;
        }
        .footer-contact{
            position: absolute;
            top:30px;
            // left:20px;
            width: 100%;
        }
        .footer-logo{
            width: 46px;
            height: 30px;
            display: block;
            position: absolute;
            bottom:-60px;
            right: -40px;
            margin-right: 0;
        }
    }
    .footer-border{
        border-bottom:1px solid white;
        margin-bottom: 24px;
        @include tablet(){
            a{
                font-size: 20px;
            }
            img{
                width: 32px;
                height: 32px;
            }
        }
        @include mobile(){
            a{
                font-size: 16px;
            }
            img{
                width: 20px;
                height: 20px;
            }
            li:nth-child(1){
                margin-bottom: 7px;
            }
            li:nth-child(2){
                margin-bottom: 20px;
            }
        }
    }
}