//text direction
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
//flex
.d-block {
    display: block;
}
.d-flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.justify-content-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}
.justify-content-end {
    justify-content: flex-end;
}
.justify-content-between {
    justify-content: space-between;
}
.flex-row-reverse {
    flex-direction: row-reverse;
}

//padding/margin/line-height
$properties: (
    "mt": margin-top,
    "mb": margin-bottom,
    "ml": margin-left,
    "mr": margin-right,
    "pt": padding-top,
    "pb": padding-bottom,
    "pl": padding-left,
    "pr": padding-right,
    "lh": line-height,
    "fs": font-size,
);
@each $property, $property-value in $properties {
    @for $i from 1 through 405 {
        .#{$property}-#{$i} {
            #{$property-value}: #{$i}px;
        }
    }
}

.mx-auto {
    margin: 0 auto;
}

//width / height
.w-23 {
    width: 23%;
}
.w-40 {
    width: 40%;
}
.w-100 {
    width: 100%;
}
.mw-730 {
    max-width: 730px;
    margin: 0 auto;
}

//position
.position-relative {
    position: relative;
}
.position-absolute {
    position: absolute;
}

//text style
.text-italic {
    font-style: italic;
}
