<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <section class="footer bg-primary py-2">
    <div class="container d-flex align-items-center">
      <a href="index.html" class="logo-footer mr-3">D perfume</a>
      <span class="ml-auto ml-md-0 mr-md-auto text-white font-size-sm">© 2020. All Rights Reserved.</span>
      <ul class="d-md-flex list-unstyled mb-0 d-none">
        <li>
          <a href="product.html" class="text-decoration-none text-white h5">Product</a>
        </li>
        <li class="ml-7">
          <a href="#" class="text-decoration-none text-white h5">Blog</a>
        </li>
        <li class="ml-7">
          <a href="#" class="text-decoration-none text-white h5">Contact</a>
        </li>
      </ul>
    </div>
  </section>
</body>