<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <section class="container footer">
    <div class="row d-sm-none">
      <div class="col-12">
        <h2 class="text-decoration-none text-primary font-weight-bold">PETPET</h2>
      </div>
    </div>
    <div class="row mb-sm-12">
      <div class="col-sm-3 d-none d-sm-block">
        <h2 class="text-decoration-none text-primary font-weight-bold mb-5">PETPET</h2>
        <ul class="list-unstyled">
          <li class="mb-4"><a href="#" class="text-decoration-none text-secondary">關於我們</a></li>
          <li class="mb-4"><a href="#" class="text-decoration-none text-secondary">幫助中心</a></li>
          <li class="mb-4"><a href="#" class="text-decoration-none text-secondary">使用條款</a></li>
          <li><a href="#" class="text-decoration-none text-secondary">隱私政策</a></li>
        </ul>
      </div>
      <div class="col-sm-3 d-none d-sm-block">
        <h2 class="text-decoration-none text-secondary font-weight-bold h5 mb-6 pt-2">寵物服務</h2>
        <ul class="list-unstyled">
          <li class="mb-4"><a href="#" class="text-decoration-none text-secondary">寵物寄宿</a></li>
          <li class="mb-4"><a href="#" class="text-decoration-none text-secondary">寵物到府保姆</a></li>
          <li class="mb-4"><a href="#" class="text-decoration-none text-secondary">寵物美容洗澡</a></li>
          <li><a href="#" class="text-decoration-none text-secondary">寵物行為訓練</a></li>
        </ul>
      </div>
      <div class="col-sm-3 d-none d-sm-block">
        <h2 class="text-decoration-none text-secondary font-weight-bold h5 mb-6 pt-2">加入我們</h2>
        <ul class="list-unstyled">
          <li class="mb-4"><a href="#" class="text-decoration-none text-secondary">成為寵物保姆</a></li>
          <li class="mb-4"><a href="#" class="text-decoration-none text-secondary">加入寵物計程車</a></li>
          <li class="mb-4"><a href="#" class="text-decoration-none text-secondary">專屬 APP 下載</a></li>
          <li><a href="#" class="text-decoration-none text-secondary">相關合約條款</a></li>
        </ul>
      </div>
      <div class="col-sm-3 d-none d-sm-block">
        <h2 class="text-decoration-none text-secondary font-weight-bold h5 mb-6 pt-2">聯繫我們</h2>
        <a href="mailto:petpet@petmail.com" class="text-decoration-none text-secondary">petpet@petmail.com</a>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-between">
        <a href="Tel:07-123-4567" class="text-decoration-none text-secondary font-weight-bold h5 d-none d-sm-inline"><i
            class="fas fa-phone-alt mr-2"></i>07-123-4567</a>
        <div class="font-weight-bold text-secondary text-right copyright">Copyright © 2020 PetPet. All rights reserved.
        </div>
      </div>
    </div>
  </section>
</body>