<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <section class="sticky-top bg-white header">
    <div class="container d-flex justify-content-center justify-content-sm-between align-items-center position-relative">
      <h1 class="mb-0">
        <a href="index.html" class="d-block text-decoration-none logo">PETPET</a>
      </h1>
      <ul class="d-sm-flex list-unstyled mb-0 d-none">
        <li><a class="text-decoration-none text-secondary" href="booking.html">預約服務</a></li>
        <li><a class="text-decoration-none text-secondary ml-6" href="join.html">成為寵物保姆</a></li>
        <li><a class="text-decoration-none text-secondary ml-6" href=login.html>登入</a></li>
      </ul>
      <a href="#" class="d-flex justify-content-center align-items-center d-sm-none text-decoration-none hamburger-btn"><i class="fas fa-bars text-primary fa-3x"></i></a>
      <ul class="list-unstyled position-absolute text-center hamburger">
        <li class="py-3 border"><a class="text-decoration-none font-weight-bold" href="product.html">預約服務</a></li>
        <li class="py-3 border"><a class="text-decoration-none font-weight-bold" href="#">成為寵物保姆</a></li>
        <li class="py-3 border"><a class="text-decoration-none font-weight-bold" href="login.html">登入</a></li>
      </ul>
    </div>
  </section>
</body>