<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <section class="sticky-top bg-white">
    <div class="container d-flex justify-content-center justify-content-sm-between align-items-center position-relative">
      <h1 class="mb-0">
        <a href="index.html" class="d-block text-decoration-none logo">PETPET</a>
      </h1>
      <ul class="d-sm-flex list-unstyled mb-0 d-none">
        <li><a class="text-decoration-none text-secondary" href="booking.html">預約服務</a></li>
        <li><a class="text-decoration-none text-secondary ml-6" href="join.html">成為寵物保姆</a></li>
        <li class="btn-group dropup">
          <a class="text-decoration-none text-secondary ml-6 dropdown-toggle" href="#" role="button"
            id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="-60,20">Hi, Joanne</a>
          <div class="dropdown-menu pr-3" aria-labelledby="dropdownMenuOffset">
            <a class="dropdown-item text-secondary" href="#">會員資料</a>
            <a class="dropdown-item text-secondary" href="#">預約查詢</a>
            <a class="dropdown-item text-secondary border-bottom" href="#">歷史預約</a>
            <a class="dropdown-item text-info" href="#">切換保母帳號</a>
          </div>

        </li>
      </ul>
      <a href="#" class="d-flex justify-content-center align-items-center d-sm-none text-decoration-none hamburger-btn"><i class="fas fa-bars text-primary fa-3x"></i></a>
      <ul class="list-unstyled position-absolute text-center hamburger">
        <li class="py-3 bg-secondary border"><a class="text-white text-decoration-none" href="product.html">預約服務</a></li>
        <li class="py-3 bg-secondary border"><a class="text-white text-decoration-none" href="#">成為寵物保姆</a></li>
        <li class="py-3 bg-secondary border"><a class="text-white text-decoration-none" href="login.html">登入</a></li>
      </ul>
    </div>
  </section>
</body>